.main{style: "max-width: 768px; margin-left: auto; margin-right: auto;"}
  .pure-g
    .pure-u-1-2
      %form#buy_form.pure-form.pure-form-aligned
        %fieldset
          %legend Buy
          .pure-control-group
            %label{for: "buy_price"} Price
            %input#buy_price{type: "number", placeholder: "0", name: "price"}
          .pure-control-group
            %label{for: "sell_price"} Amount
            %input#buy_amount{type: "number", placeholder: "0", name: "amount"}
          %button.button-xlarge.pure-button.button-success.pure-input-1 Buy

    .pure-u-1-2
      %form#sell_form.pure-form.pure-form-aligned
        %fieldset
          %legend Sell
          .pure-control-group
            %label{for: "sell_price"} Price
            %input#sell_price{type: "number", placeholder: "0", name: "price"}
          .pure-control-group
            %label{for: "sell_amount"} Amount
            %input#sell_amount{type: "number", placeholder: "0", name: "amount"}
          %button.button-xlarge.pure-button.button-error.pure-input-1 Sell

  %hr
  .pure-g
    .pure-u-1
      %h1 Price Ladder
      #ladder_place

%script#table_template{type: "x-tmpl-mustache"}
  %table.pure-table.pure-table-bordered
    %thead
      %tr
        %th
          \#
        %th
          Price
        %th
          Amount
        %th
          Type
    %tbody
      {{#orders}}
      %tr
        %td {{id}}
        %td {{price}}
        %td {{amount}}
        %td {{order_type}}
      {{/orders}}
